body {
  background: #f6f6fa;
  padding: 40px 40px 40px 40px;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;
}

.main-content {
  padding: 88px 80px 40px 80px;
  box-sizing: border-box;
}
